In [1]:
#Install request 
#pips install requests

In [2]:
# Import request
import pandas as pd
import requests

In [3]:
#This will connect with API and store extracted data in response variable
response = requests.get('https://randomuser.me/api')

In [4]:
# In order to check our app (python) is connected or not with API, we used the print and if it will shows 200 it means it is connected else not. 
print (response.status_code)

200

In [13]:
# print out data in json. This will return the data in json format. 
data = print (response.json())

{'results': [{'gender': 'female', 'name': {'title': 'Mrs', 'first': 'Amelia', 'last': 'Collazo'}, 'location': {'street': {'number': 5404, 'name': 'Peatonal Norte Santana'}, 'city': 'Jurica (Ex-Hacienda)', 'state': 'Campeche', 'country': 'Mexico', 'postcode': 14413, 'coordinates': {'latitude': '24.3911', 'longitude': '86.8636'}, 'timezone': {'offset': '+3:30', 'description': 'Tehran'}}, 'email': 'amelia.collazo@example.com', 'login': {'uuid': '13898b61-02b6-4c12-aef8-cd50af590dbd', 'username': 'lazyrabbit840', 'password': 'warthog', 'salt': 'kUzYeki6', 'md5': '9fec27109d6e9a54f1b0295b2a0b82c5', 'sha1': '5f4e7a2881792bfd27574d02134abd6752556207', 'sha256': '79afe3767f56dd7e954bea04cef904b4857037c43864b064df3984fd5c3d591e'}, 'dob': {'date': '1963-05-24T09:16:28.929Z', 'age': 61}, 'registered': {'date': '2002-08-06T03:44:55.151Z', 'age': 21}, 'phone': '(693) 508 7898', 'cell': '(653) 990 7535', 'id': {'name': 'NSS', 'value': '10 77 15 2053 3'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/64.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/64.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/64.jpg'}, 'nat': 'MX'}], 'info': {'seed': '06fed79213a39a59', 'results': 1, 'page': 1, 'version': '1.4'}}

# store and access the data.

In [6]:

gender = response.json()['results'][0]['gender']
print (gender)

female

In [7]:
first_name = response.json()['results'][0]['name']['first']
print (first_name)

Amelia

In [8]:
last_name = response.json()['results'][0]['name']['last']
print (last_name)

Collazo

In [9]:
set1= print(f'{first_name} {last_name}')

Amelia Collazo

In [10]:
title_name = response.json()['results'][0]['name']['title']
print (title_name)

Mrs

In [11]:
set2 = print(f'{title_name}. {first_name} {last_name} ')

Mrs. Amelia Collazo

In [12]:
age = response.json()['results'][0]['dob']['age']
print (f'Age: {age}')

Age: 61

In [16]:
data1 = {
    'Gender': [gender],
    'First Name': [first_name],
    'Last Name': [last_name],
    'Title': [title_name],
    'Age': [age]
}

In [17]:
df = pd.DataFrame(data1)

In [18]:
print(df)

   Gender First Name Last Name Title  Age
0  female     Amelia   Collazo   Mrs   61

In [19]:
#Export into excel
df.to_excel('output.xlsx', index=False)